body{
	margin: 0;
	padding: 0;
	font:15px/1.5 Arial, Helvetica, sans-serif;
	background-color: #f4f4f4;
}
.container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}
 ul{
	padding: 0;
	margin:0;
}
header{
	background-color: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}
header a{
	color: white;
	text-decoration: none;
	font-size: 16px;
}
header li{
	list-style: none;
	float: left;
	display: inline;
	padding: 0px 20px 0px 20px;
	
}
header .brand-name{
	float: left;
}
header .brand-name h1{
	margin: 0;
	text-shadow: 3px 3px 5px black;

}
header nav{
	float: right;
	margin-top: 27px;
	

}
header .highlight{
   font-size: 50px;
   color: #e8491d;

}
header .current a{
	color: #e8491d;

}
header .highlight2{
	font-size: 20px;
	padding-left: 5px;
}
header a:hover{
	color: lightgray;
}


.showcase{
	background: url(image/d.png) no-repeat 0;
	min-height: 500px;
	background-size: cover;	
	text-align: center;
	color: #ffffff;

}
.showcase h1{
	margin-top: 180px;
	font-size: 55px;
	margin-bottom: 10px;
	text-shadow: 3px 3px 5px black;
}
.showcase p{
	font-size: 15px;
}
.newsletter{
	background-color: #35424a;
	padding:15px;
	color: #ffffff;

}
.newsletter h1{
	float: left;
	
}
.newsletter form{
	float: right;
	margin-top: 15px;
	
}
.newsletter input[type="email"]{
	padding: 5px;
	height: 25px;
	width: 250px;
	border: none;
	outline: none;
}
.newsletter .btn{
	height: 35px;
	background: #e8491d;
	border:none;
	outline: none;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
}





.boxes{
	margin-top: 25px;
}
.boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}
.boxes .box img{
	width: 100px;
}




.home-footer{
	background-color: #e8491d;
	color: #ffffff;
	text-align: center;
	margin-top: 20px;
	padding: 23px;
}
/**About Content**/
.about{
	background-image: url(image/c.png);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
aside{
	float: right;
	width: 30%;
	margin-top: 50px;
	margin-right: 10px;
}
aside h3{
	font-size: 30px;
}
aside p{
	font-size: 17px;
}
article .page-title{
	font-size: 30px;
}

article p{
	font-size: 17px;
}
article{
	padding-top: 50px;
	padding-left: 10px;
	float: left;
	width: 65%;
}
.about .outline{
	padding: 10px;
	background-color: transparent;
	border: 1px solid #ffffff;
}
.about-footer{
	background-color: #e8491d;
	color: #ffffff;
	text-align: center;
	padding: 23px;
}




/**Services content**/
.service{
	background-image: url(image/e.png);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}
.services{
	padding: 10px;
	margin-bottom: 15px;
	background-color: transparent;
	border: 1px solid #ffffff;
}
.services li{
	list-style: none;
	padding: 5px;
}
.services h3{
	font-size: 25px;
	color: #e8491d;
}
aside .quote{
	padding: 10px;
	background-color: transparent;
	border: 1px solid #ffffff;

}

.quote input{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 87%;
	padding: 5px;
	height: 25px;
	border: none;
	outline: none;

 }
 .label{
 	margin-left: 10px;
 	color: #e8491d;
 }
 .quote textarea{
 	margin-left: 10px;
 	width: 87%;
 	padding: 5px;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	border: none;
 	outline: none;
 }
.quote .btn{
	width: 90%;
	min-height: 40px;
	background: #e8491d;
	border:none;
	outline: none;
	color: #ffffff;
	margin-left: 10px;
	
}





/**Media Queries **/
@media(max-width: 768px){
	header .brand-name, header nav, header nav li, .newsletter h1, .newsletter form, .boxes .box, article, aside{
		float: none;
		width: 100%;
		text-align: center;
    } 
     header{
     	padding-bottom: 20px;

      }
      .showcase h1{
      	margin-top: 150px;
      	font-size:40px; 
      }
      .showcase p{
      	font-size: 15px;
      }
      .newsletter .btn{
      	display: block;
      	width: 100%;

      }
      .newsletter form input[type="email"]{
      	width: 100%;
      	margin-bottom: 5px;
      }
      aside{
      	margin-bottom: 10px
      }
      article{
      	padding: 0px;
      	margin-top: 10px;
      }
      
      
     


      

}
@media (max-width: 425px){
	 header li{
	 	padding: 10px;
	 }
	 header a{
	 	font-size: 13px;
	 }
	 

	 }




















